<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- CHAT tem um estilo diferente para caber o chat de maneira correta-->
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link href="css/chat.css" type="text/css" >
</head>
<body>
    <%- include('../partials/navbar'); %>
   
        <div class="container">
            <h1 class="text-center">Listagem de Usuários</h1>

        </div>
        <div class="container">
            <br>
            <h2>Listagem dos usuários cadastrados</h2>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Enviar Mensagem</th>
                    </tr>
                </thead>
                <tbody>
                    <% dataUsers.forEach(function(data) { %>
                        <% if(data['id'] != user_id){ %>
                        <tr>
                            <td>
                                <%= data['name'] %>
                            </td>
                            <td>
                                <%= data['email'] %>
                            </td>
                            <td>
                                <form method='POST' action='/chat'>
                                    <input type='hidden' name='id' value="<%=data['id']%>">
                                    <button type='submit'>
                                        <span class='material-icons'> chat </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
            <div class="container">
                <%- include('./paginate_users'); %> 
            </div>
        </div>
   
</body>

</html>