<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- CHAT tem um estilo diferente para caber o chat de maneira correta-->
    <title>Chat</title>
    <%- include('../partials/headers') %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <header class="masthead">
        <div class="container">
            <div class="align-items-center justify-content-center text-center">
                <div class=" align-self-baseline">
        <div class="container">
            <br>
            <h2>Listagem dos professores</h2>
            <table class="table table-bordered table-hover text-center ">
                <thead class="thead-dark p-3 mb-2 bg-light text-dark align-self-center">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Enviar Mensagem</th>
                    </tr>
                </thead>
                <tbody class="tbody-dark p-3 mb-2 bg-white text-dark ">
                    <% dataUsers.forEach(function(data) { %>
                        <% if(data['id'] != user_id){ %>
                        <tr>
                            <td>
                                <%= data['name'] %>
                            </td>
                            <td>
                                <%= data['email'] %>
                            </td>
                            <td>
                                <form method='POST' action='/chat'>
                                    <input type='hidden' name='id' value="<%=data['id']%>">
                                    <button type='submit'>
                                        <span class='material-icons'> chat </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
            <div class="container">
                <%- include('./paginate_evaluetors'); %> 
            </div>
        </div>
    </div>
</div>
</div>
</header>
</body>

</html>