<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Home</title>
    <%- include('./partials/headers') %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <main id="work-area">
        <article>
            <!-- Comentarios dos professores sobre a redação, fazer tipo o que esta no portfolio-->
            <section>
                <!---->
                <div class="row">
                    <% dataComment.forEach(function(data) { %>
                        <div class="col-sm-3 mt-5">
                            <div class="card border-0 bg-light">
                                <div class="card-body">
                                    <h5 class="card-tittle"><b>Nota:</b></h5>
                                    <p class="card-text">
                                        <%= data.score %>
                                    </p>

                                    <h5 class="card-tittle"><b>Commentario:</b></h5>
                                    <p class="card-text">
                                        <%= data.comment %>
                                    </p>
                                    <% if(dataUser == data.fk_user){ %>
                                    <button type="button"><a href="/deleteComments/<%= data.id %>">Deletar seu comentario</a></button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <br>
                <button type="button"><a href="/readRedation/<%= text_id %>">Voltar</a></button>
        </article>
    </main>
</body>
</html>