<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Listagem</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <main>
            <section>
                <!---->
                <div class="row">
                    <% if(role == -1){ %>
                        <p>Por favor faça login para escrever ou avaliar redações</p>
                    <% } else{ %> 
                            <H1>Seu portifólio de Redações:</H1>
                            <button type="button"><a href="/write">+ Nova Redação</a></button>
                            <% dataText.forEach(function(data) { %>
                                <div class="col-sm-3 mt-5">
                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h5 class="card-tittle"><b>Titulo</b></h5>
                                            <p class="card-text">
                                                <%= data.title %>
                                            </p>
        
                                            <h5 class="card-tittle"><b>Escola de teste:</b></h5>
                                            <p class="card-text">
                                                <%= data.institute %>
                                            </p>
        
                                            <h5 class="card-tittle"><b>Tema</b></h5>
                                            <p class="card-text">
                                                <%= data.topic %>
                                            </p>
        
                                        </div>
                                        
                                        <button><a href="/readRedation/<%= data.id %>">Ler redação</a></button>
                                        <p class="card-text"><button><a href="/showComments/<%= data.id %>">Comentarios dos Avaliadores</a></button></p>
                                        <p class="card-text"><button><a href="/delete/<%= data.id %>">Apagar</a></button></p>
                                    </div>
                                </div>
                        </div>
                        <% })} %>
                       
                    </div>
                </div>
                    <!---->
            </section>
        </main>
</body>

</html>