<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Pódio</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <main>
            <H1>Pódio de redações: </H1>
            <section>
                <!---->
                <div class="row">
                    <% dataText.forEach(function(data) { %>
                        <div class="col-sm-3 mt-5">
                            <div class="card border-0 bg-light">
                                <div class="card-body">
                                    <h5 class="card-tittle"><b>Titulo</b></h5>
                                    <p class="card-text">
                                        <%= data.title %>
                                    </p>

                                    <h5 class="card-tittle"><b>Escola de teste:</b></h5>
                                    <p class="card-text">
                                        <%= data.institute %>
                                    </p>

                                    <h5 class="card-tittle"><b>Tema</b></h5>
                                    <p class="card-text">
                                        <%= data.topic %>
                                    </p>

                                    <h5 class="card-tittle"><b>Nota</b></h5>
                                    <p class="card-text"><!-- CRIAR FUNÇÃO PARA OBTER NOTAS --></p>

                                    <button><a href="/readRedation/<%= data.id %>">Ler redação</a></button>

                                </div>
                                <!-- FAZER PARTE PARA COMENTARIO -->
                                <% if(role == 1){ %>
                                <p class="card-text">
                                    <a href="/comment/<%= data.id %>">
                                        <!-- Criar essa rota para mostrar os comentarios dessa redação -->
                                        <span class="material-icons">prof.</span> Ranquear e Comentar
                                    </a>
                                </p>
                                <% } %>
                            </div>
                        </div>
                </div>
                <% }) %>
                    </div>
                    <!---->
            </section>
        </main>
</body>

</html>