<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Pódio</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-baseline">
                    <main>
                        <section>
                            <div class="container">
                                <h2 style="color: white">Pódio de redações </h2>
                                <table class="table table-bordered table-hover text-center ">
                                    <thead class="thead-dark p-3 mb-2 bg-light text-dark align-self-center">
                                        <tr>
                                            <th>Pontuação</th>
                                            <th>Tema</th>
                                            <th>Vestibular</th>
                                            <th>Ações</th>
                                            <% if(role == 1){ %>
                                            <th>Avaliar</th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-dark p-3 mb-2 bg-white text-dark ">
                                        <% dataText.forEach(function(data) { %>
                                            <tr>
                                                <td>
                                                    <%= data.num_media %>
                                                </td>
                                                <td>
                                                    <%= data.topic %>
                                                </td>
                                                <td>
                                                    <%= data.institute %>
                                                    
                                                </td>
                                                
                                                <td> <a href="/readRedation/<%= data.id %>">
                                                        <span class="material-icons ">Ler redação </span>
                                                    </a>
                                                    <a href="/showComments/<%= data.id %>">
                                                        <span class="material-icons ">Comentarios </span>
                                                    </a>
                                                    
                                                </td>
                                                <% if(role == 1){ %>
                                                <td>
                                                        <a href="/comment/<%= data.id %>">
                                                            <span class="material-icons ">Ranquear e Comentar</span>
                                                        </a>
                                                    </td>
                                                    <% } %>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </header>
       
</body>

</html>