<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Listagem</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <header class="masthead">
            <%- include('./partials/navbar'); %>
            <div class="container">
                <div class=" align-self-baseline ">
                    <main>
                        <section>
                        <div class="row align-items-center justify-content-center text-center">
                            <% dataText.forEach(function(data) { %>
                                <div class="col">
                                    <h2 style="background-color: whitesmoke; border-radius: 5px; color: black; margin-left: 35px;">Titulo: <%= data.title %>
                                    </h2>
                                </div>
                                <div class="col">
                                    <h2 style="background-color: whitesmoke; border-radius: 5px; color: black; margin-right: 35px;">Prova: <%= data.institute %> 
                                    </h2>
                                </div>
                        </div>
                        <div class="row align-items-center justify-content-center text-center">
                            <div class="col">
                                <h2 style="background-color: whitesmoke; border-radius: 5px; color: black; margin-inline: 35px;">Assunto: <%= data.topic %>   </h2>
                                </h2>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col bg-white rounded mx-5 p-5" style="overflow-y: scroll; width:900px; height:650px;">
                                <%- data.redation %>
                            </div>
                        </div>
                            <div class="row align-items-center justify-content-center text-center mt-3">
                                <div class="col justify-content-center">
                                   <a class="btn btn-primary btn-xl mb-3" href="/showComments/<%= data.id %>">Comentarios dos Avaliadores</a>
                                </div>
                                <div class="col justify-content-center">
                                    <a class="btn btn-primary btn-xl mb-3" href="/podium">Voltar</a>
                                </div>
                            </div>
                            <% }) %>
                        </section>
                    </main>
                </div>
            </div>
        </header>
</body>

</html>