

<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Listagem</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <header class="masthead">
            <div class="container">
                <div class="align-items-center justify-content-center text-center">
                    <div class=" align-self-baseline">
                        <main>
                            <% dataText.forEach(function(data) { %>
                                <H1>Titulo: <%= data.title %>
                                </H1>
                                <h2>Prova: <%= data.institute %>
                                </h2>
                                <h2>Assunto: <%= data.topic %>
                                </h2>
                                <section>
                                    
                                    <textarea id="my-expressjs-tinymce-app" name="redation"
                                                style="width:900px; height:1000px"><%= data.redation %></textarea>
                                        <p class="card-text"><button><a href="/showComments/<%= data.id %>">Comentarios
                                                    dos Avaliadores</a></button></p>
                                        <p class="card-text"><button><a href="/podium">Voltar</a></button></p>
                                        <% }) %>
                    </div>
                 
                    </section>
                    </main>
                </div>
            </div>
            </div>
        </header>
</body>

</html>