<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include('../partials/headers'); %>
</head>

<body>
    <%- include('../partials/navbar'); %>
        <main>
            <% dataUser.forEach(function(data){ %>
            <label for="image">Imagem:</label>
            <img src="images/<%= data['image'] %>" alt="Imagem do Perfil" style='width:150px;'>

            <label for="name">Nome:</label>
            <p>
                <%= data['name']%>
            </p>

            <label for="email">Email:</label>
            <p>
                <%= data['email']%>
            </p>

            <label for="role">Função:</label>
            <p>
               <%= data['role']%> <!-- FAZER ISSO FICAR COM NOME ALUNO OU PROFESSOR -->
            </p>
            <button><a href="/edit">Editar Perfil</a></button>
            <button><a class="dropdown-item" href="/logout">Sair</a></button> <!-- FAZER ESSA FUNÇÃO VIRAR DELETAR PERFIL -->
        <% }) %>
        </main>
</body>

</html>