<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include('../partials/headers'); %>
</head>

<body>
    <%- include('../partials/navbar'); %>
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100 ">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-center">
        <main>
            <% dataUser.forEach(function(data){ %>
                <section class="page-section" id="contact">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6 text-center">
                                <h2 class="mt-0">Seu perfil</h2>
                                <hr class="divider" />
                                <img src="images/<%= data['image'] %>" alt="Imagem do Perfil" style='width:200px; border-radius: 10%; border-style: groove;'>

                                <p class="text-muted mb-5">Nome: <%= data['name']%></p>
                            
                                <p class="text-muted mb-5">Email: <%= data['email']%></p>
                          
                                <p class="text-muted mb-5">Função: <%= data['role']%></p>

                                <a class="btn btn-primary btn-xl" href="/edit">Editar perfil</a>
                                <a class="btn btn-primary btn-xl" href="/logout">Sair</a>
                            </div>
                        </div>
            
        <% }) %>
        </main>
    </div>
</div>
</div>
</header>
</body>

</html>